<app-header [isusercomponent]="false"></app-header>
<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" href="home.component.css">
    <script src="/src/assets/app.js"></script>
  <title>Home Page</title>
</head>
<body>
  <div class="wrapper">
    <div class="content">
      <h3>Welcome to SHOUNEN.AI</h3>
      <div class="para">
    <p>The ultimate destination for all your anime recommendation needs! Our website is designed to cater specifically to fans of the beloved shounen genre, bringing you a curated selection of thrilling, action-packed anime series.
    At Shounen.ai, we understand the passion and excitement that comes with watching epic battles, extraordinary powers, and character growth. Whether you're a seasoned anime enthusiast or just starting your journey into the world of shounen, our goal is to provide you with personalized recommendations that will leave you hooked and craving for more.</p>
      <p>
        Our recommendation system employs state-of-the-art artificial intelligence technology to analyze your preferences, taking into account factors such as your favorite genres, themes, and characters. By understanding your unique taste, we ensure that the recommendations you receive are tailored to your specific interests, helping you discover hidden gems and popular series that match your preferences perfectly
      </p>
      <p>
        Exploring our website is a breeze. Simply create an account and answer a few questions about your anime preferences to unlock a world of possibilities. Dive into our extensive database, featuring a wide range of shounen anime, from classic favorites to the latest releases. Browse through detailed descriptions, ratings, and reviews to make informed decisions about which series to watch next.

  Looking for recommendations based on specific criteria? Our advanced search filters allow you to narrow down your options by genre, theme, animation studio, and more. You can also explore curated lists created by our team of passionate anime enthusiasts, featuring handpicked selections for different moods, genres, and character archetypes.
      </p>
    </div>
  </div>
  <i class="fa-solid fa-circle-left fa-6x"  id="left" (click)="onleftclick()" ></i>
  <div class="element" id="element" >
    
    <div class="element1">
      <div class="el1con">
        <p>The story of Dragon Ball follows the life of Son Goku, a monkey-tailed boy loosely based on the traditional Chinese folk tale Journey to the West, from his life and adventures as a child all the way up to being a grandfather. During his life, he fights many battles and eventually becomes (arguably) the strongest martial artist in the universe. </p>
      </div>
      <img src="https://cdn.wallpapersafari.com/18/92/O4WFqX.jpg" alt="Dragon Ball Z" width="650" height="400" >
    </div>
    <div class="element2">
      <div class="el2con">
        <p>Bleach, an enthralling anime series, takes us on a thrilling journey into the supernatural realm. Created by Tite Kubo, the story revolves around Ichigo Kurosaki, a high school student with an uncanny ability to see ghosts. His life takes a dramatic turn when he accidentally acquires the powers of a Soul Reaper—a celestial being tasked with guiding the departed souls to the afterlife and battling malevolent spirits known as Hollows.</p>
      </div>
      <img src="https://wallpapers.com/images/hd/anime-art-black-and-white-bleach-ichigo-half-transformation-hlxcsozepni7k4uq.jpg" alt="Bleach" width="650" height="400">
    </div>                                                                                                                                          
    <div class="element3">
      <div class="el3con">
        <p>One pirate, Monkey D. Luffy, is a boy who had eaten the Devil's Fruit and gained rubber powers. Now he and his crew are off to find One Piece, while battling enemies and making new friends along the way.It is one of the most popular series which is still airing.
          Luffy and his crew travel across the Grand line,experiencing crazy adventures,unveiling dark mysteries and battling strong enemies,all in order to rach one piece.</p>
      </div>
      <img src="https://wallpapermemory.com/uploads/738/monkey-d-luffy-background-full-hd-1920x1080-314665.jpg" alt="One Piece" width="650" height="400">
    </div>
    <div class="element4">
      <div class="el4con">
        <p>It is Story about a boy names Naruto Uzumaki,a resident of Hidden leaf village ,who witnessed pain since he was born and strives hard to achieve recognition in his own village by vowing himself to become the village leader.He shares a freindly relation with another kid sasuke who is genius unlike him who wishes to avenge the death of his clan by killing his elder brother.This Story is usully based on shinobi world and is one of the famous anime series.</p>
      </div>
      <img src="https://wallpaperaccess.com/full/6620899.jpg" alt="Naruto" width="650" height="400">
    </div>
    <div class="element5">
      <div class="el5con">
        <p>Demon Slayer chronicles the journey of Tanjiro, a burgeoning Demon Slayer who sets out to bring down the powerful and deadly demon who is responsible for the death of his family and transforming his sister into a rabid creature. Tanjiro and his fellow Demon Slayers grow in considerable ways and learn incredible new abilities as they progress on their journey, which is far from over. </p>
      </div>
      <img src="https://i.pinimg.com/originals/a7/68/99/a76899f2e22a221d259825e0c884a926.jpg" alt="Demon Slayer" width="650" height="400">
    </div>
  </div>
  <i class="fa-solid fa-circle-right fa-6x"  id="right" (click)="onrightclick()"  ></i>
  <div class="desc">
  </div>
</div>
</body>
</html>



