<link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v6.4.0/css/all.css">
<div class="pop">
    <h3>Terms & Conditions</h3>
    <i class="fa-solid fa-circle-xmark fa-2x" (click)="closeDialog()"></i>
    </div>
    <div class="conten">
    <p>Welcome to our Shounen AI Website! These Terms and Conditions govern your use of our website and any services provided through it. By accessing or using our website, you agree to comply with these Terms and Conditions. Please read them carefully.</p>
    <ul>
    <h5>Acceptance of Terms</h5>
    <li>By accessing or using our website, you acknowledge that you have read, understood, and agree to be bound by these Terms and Conditions.</li>
    <li>If you do not agree to these Terms and Conditions, you must refrain from accessing or using our website.</li>
    <h5>Use of the Website</h5>
    <li> You agree to use our website only for lawful purposes and in accordance with these Terms and Conditions.</li>
    <li>You must not:</li>
    <ul>
        <li> Engage in any activity that could damage, disable, or impair the functioning of our website or interfere with other users' access to it.</li>
        <li> Use any automated means, such as bots or scripts, to access, collect, or harvest data from our website.</li>
        <li> Attempt to gain unauthorized access to any portion of our website or any system or network connected to it.</li>
    </ul>

    <h5>Intellectual Property</h5>
    <li>Our website and its content, including but not limited to text, graphics, logos, images, software, and trademarks, are the intellectual property of the website owner or its licensors.</li>
    <li>You may not reproduce, distribute, modify, or create derivative works of any content from our website without prior written permission from the website owner.</li>

    <h5>Privacy Policy</h5>
    <li>Our Privacy Policy governs the collection, use, and disclosure of personal information that you provide to us through the website. By using our website, you consent to the collection, use, and disclosure of your personal information as described in the Privacy Policy.</li>

    <h5>Disclaimer of Warranties</h5>
    <li>Our website and its content are provided on an "as is" and "as available" basis, without any warranties of any kind, either express or implied.</li>
    <li>We do not warrant that our website will be uninterrupted, error-free, or free from viruses or other harmful components.</li>

    <h5>Limitation of Liability</h5>
    <li>To the maximum extent permitted by law, we shall not be liable for any direct, indirect, incidental, consequential, or special damages arising out of or in connection with your use of our website.</li>
    <li>We shall not be responsible for any loss or damage to your computer system or data resulting from the use of our website.</li>

    <h5>Indemnification</h5>
    <li>You agree to indemnify and hold us harmless from any claims, losses, liabilities, and expenses (including attorney's fees) arising out of or in connection with your use of our website or any violation of these Terms and Conditions.</li>

    <h5>Modifications to the Terms and Conditions</h5>
    <li>We reserve the right to modify these Terms and Conditions at any time without prior notice.</li>
    <li>Any changes to these Terms and Conditions will be effective immediately upon posting on our website. Your continued use of the website after the posting of any changes constitutes your acceptance of such changes.</li>

    <h5>Governing Law and Jurisdiction</h5>
    <li>These Terms and Conditions shall be governed by and construed in accordance with the laws of [Jurisdiction].</li>
    <li>Any dispute arising out of or in connection with these Terms and Conditions shall be subject to the exclusive jurisdiction of the courts of [Jurisdiction].</li>

    <h5>Contact Information</h5>
    <li>you have any questions or concerns regarding these Terms and Conditions, please contact us at [contact email].</li>

