.win{
    width: 450px;
    height: auto;
    position: absolute;
    border: 5px solid;
    border-radius: 12px;
    padding: 30px 20px;
    margin: 2px ;
    z-index: 1;
    top: 200px;
    left: 100px;
    transition: transform .5s;
    box-shadow: 10px 10px 8px 8px black;
    cursor: pointer;
  }
  #fgex
  {
    text-align: center;
    font-weight: bold;

  }
  .win:hover{
    transform: scale(1.1);
  }

  ::placeholder
  {
    font-size: 20px;
  }
  input
  {   
      width: 380px;
      height: 40px;
      padding: 7px;
      font-size: 20px;
      margin: 10px ;
      border:2px solid;
      border-radius: 10px;
  }
  input:hover
  {
      background: #D3D3D3;
  }
  input[type="submit"] {
    width: 65%;
    height: 3%;
    position: relative;
    left: 70px;
    top: 10px;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 25px;
    }
    a:link{
        color: red;
        text-decoration: none;
      }
      a:hover{
        color: red;
        text-decoration: none;
      }
    input[type="submit"]:hover{
      opacity: 0.8;
    }
    #ey1
    {
            position: relative;
            left: 360px;
            transform: translateY(-38px);
            color: black;
    }