<app-header [isusercomponent]="false"></app-header>

<div class="win">
    <h1 id="fgex">Reset Password</h1>
    <input [type]="sp?'password':'text'" name="previouspassword" [(ngModel)]="previouspassword" [ngModelOptions]="{standalone: true}" id="password"  id="prv_password" placeholder="Enter your Previous password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>
    <input [type]="sp?'password':'text'" name="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="password" placeholder="Enter your New password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>
    <span (click)="x()"><i [ngClass]="eye?'fa-solid fa-eye ':'fa-solid fa-eye-slash '" id="ey1"></i></span>
    <input [type]="sp?'password':'text'" name="confirmpassword" [(ngModel)]="confirmpassword" [ngModelOptions]="{standalone: true}" id="password"  id="confirm_password" placeholder="Retype your New password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>
    <div class="sub">
  <input type="submit" value="Save New Password" (click)="save()" >
  
  
  </div>
</div>
